/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view-left *.increment-button,
.table-view-left *.decrement-button,
.table-view-left *.increment-arrow,
.table-view-left *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}
.table-row-cell:selected {

    -fx-background-color: #EEEEEE;
    -fx-table-cell-border-color: transparent;

}
.table-row-cell:selected .text {

    -fx-fill: black;

}